################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/FileNameChanger/obj
/FileNameChanger/Img
/FileNameChanger/bin/Release
/.vs
/Backup
/FileNameChangerCore/.vs
/FileNameChangerCore/obj
/UserControl/.vs
/UserControl/obj
/FileNameChanger/bin/Debug
/FileNameChangerCore/bin/Debug
/UserControl/bin/Debug
/UserControl/bin/Release
/FileNameChangerCore/bin/Release
